<div class="flex justify-center items-center px-10 pt-10">
    <!-- Parent Card Container -->
    <div class="relative bg-[#3D342E] w-full  max-w-screen-xl p-6 rounded-xl shadow-xl">
      <h2 class="text-white text-center mb-8 text-2xl font-bold">آموزش های کافه نیاز</h2>
  
      <!-- Card Row -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Single Card -->
        <a href="#" class="relative bg-white rounded-lg shadow-lg overflow-hidden transform transition-all hover:scale-105">
          <img src="/images/image 14.jpg" alt="Card Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <p class="text-gray-500 text-sm mb-2">لـورم ایپسوم متن ساختگی برای طراحان</p>
            <p class="text-gray-400 text-xs">۱۹ اردیبهشت ۱۴۰۳</p>
            <div class="mt-4 flex justify-between items-center">
              <a href="#" class="text-red-500 text-sm">مشاهده بیشتر</a>
            </div>
          </div>
        </a>
  
        <!-- Single Card -->
        <a href="#" class="relative bg-white rounded-lg shadow-lg overflow-hidden transform transition-all hover:scale-105">
          <img src="images/image 14-1.jpg" alt="Card Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <p class="text-gray-500 text-sm mb-2">لـورم ایپسوم متن ساختگی برای طراحان</p>
            <p class="text-gray-400 text-xs">۱۹ اردیبهشت ۱۴۰۳</p>
            <div class="mt-4 flex justify-between items-center">
              <a href="#" class="text-red-500 text-sm">مشاهده بیشتر</a>
              <!-- check it out -->
              <i class="bi bi-arrow-right text-sm"></i>
            </div>
          </div>
        </a>
  
        <!-- Single Card -->
        <a href="#" class="relative bg-white rounded-lg shadow-lg overflow-hidden transform transition-all hover:scale-105">
          <img src="images/image 14-2.jpg" alt="Card Image" class="w-full h-48 object-cover">
          <div class="p-4">
            <p class="text-gray-500 text-sm mb-2">لـورم ایپسوم متن ساختگی برای طراحان</p>
            <p class="text-gray-400 text-xs">۱۹ اردیبهشت ۱۴۰۳</p>
            <div class="mt-4 flex justify-between items-center">
              <a href="#" class="text-red-500 text-sm">مشاهده بیشتر</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  
  <div class="flex justify-center mb-10 mt-3"> <!-- Added mt-4 for spacing -->
    <button class="bg-[#9E624C] text-white font-bold p-3 px-7 rounded-full">
        مشاهده بیشتر
    </button>
</div>
