<div class="bg-[#3F3025] text-white flex justify-center items-center">
  <footer class="bg-[#3F3025] flex justify-center items-center text-white container lg:h-100 sm:h-100 py-8 lg:py-12 sm:py-10 border-t border-gray-400">
    <div class="flex flex-col justify-center items-center px-3 pb-6 lg:px-8 sm:pb-12">
      <div class="flex flex-wrap w-full mx-auto">
        <!-- About section with centered text -->
        <div class="flex w-full justify-center pb-4 lg:pb-6">
          <div class="px-3 md:px-0 lg:px-6 text-center">
            <h1 class="font-bold text-white-900 lg:text-4xl text-2xl">کافه نیاز</h1>
            <p class="py-4 lg:py-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
              vel mi ut felis tempus commodo nec id erat. Suspendisse
              consectetur dapibus velit ut lacinia.
            </p>

            <ul class="flex item-center justify-center pt-6 space-x-4 lg:space-x-8">
              <li>
                <span class="inline-block w-3 h-3 bg-white rounded-full ml-1 mx-2"></span>
                <a href="#">1</a>
              </li>
              <li>
                <span class="inline-block w-3 h-3 bg-white rounded-full ml-1 mx-2"></span>
                <a href="#">2</a>
              </li>
              <li>
                <span class="inline-block w-3 h-3 bg-white rounded-full ml-1 mx-2"></span>
                <a href="#">3</a>
              </li>
              <li>
                <span class="inline-block w-3 h-3 bg-white rounded-full ml-1 mx-2"></span>
                <a href="#">4</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- float left -->
        <div class="lg:w-1/2 space-y-4 font-large pt-5 lg:pb-12 sm:pb-8 border-t border-gray">
          <div class="flex">
            <i class="bi bi-telephone-fill"></i>
            <span class="mx-1 "></span>
            <p>09023936303</p>
          </div>
          <div class="flex">
            <i class="bi bi-crosshair"></i>
            <span class="mx-1 "></span>
            <p>همدان، کوی شمس، انتهای صداقت چهار، پلاک ٥ ،طبقه ۲</p>
          </div>
        </div>

        <!-- float right -->
        <div class="lg:w-1/2 flex flex-row-reverse space-y-4 font-large pt-5 lg:pb-12 sm:pb-8 border-t border-gray">
          <div class="flex">
            <img src="/images/image 15.png" alt="">
          </div>
          <div class="flex">
            <img src="/images/Frame 68.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>



<!-- copyright part -->
<div class="flex justify-between items-center mx-auto pb-5 pt-2 bg-[#1A1613] h-auto md:h-18 px-4 md:px-20">
  <div class="flex items-center space-x-2">
    <i class="bi bi-instagram text-white"></i>
    <span class="text-white">insta_id</span>
  </div>
  <span class="text-white me-0 md:me-20">تمامی حقوق</span>
</div>
