<body class="!bg-[#FFFFFF]">
       <app-header></app-header>
       <app-hero-part></app-hero-part>
       <app-category></app-category>
       <app-best-selles></app-best-selles>
       <app-blog></app-blog>
       <app-footer ></app-footer>
</body>







<!-- <div class="bg-[#F2E5DA] h-16 flex my-10 items-center overflow-x-auto">   
         <div class="flex space-x-4">
                <div class="svg-container" *ngFor="let svg of svgs">
                    <div [innerHTML]="svg"></div>
                </div>
         </div>
  </div> -->