<section class="py-2 bg-white">
    <div class="container flex flex-wrap items-center pt-4 pb-12 mx-auto ">
        <nav id="store" class="border-2 sm: mx-12 md:mx-auto md:rounded-full sm:rounded-sm top-0 z-30 w-full px-6 py-1">
            <div class="container flex flex-wrap items-center justify-between w-full px-2 py-3 mx-auto mt-0">
              <!-- Title -->
              <a class="text-xl sm:mx-3 sm:my-2 font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline" href="#">
                پرفروش ترین ها
              </a>
          
              <!-- Menu (responsive) -->
              <div class="flex bg-[#E9E9E8] rounded-md px-6 items-center sm:flex ">
                <ul class="flex flex-wrap lg:space-x-10 space-x-4 text-sm md:text-base lg:text-lg">
                  <li class="me-2 hover:underline border p-3 rounded-full">
                    <a href="#">آسیاب قهوه</a>
                  </li>
                  <li class="hover:underline border p-3 rounded-full">
                    <a href="#">ابزار باریستا</a>
                  </li>
                  <li class="me-2 hover:underline border p-3 rounded-full">
                    <a href="#">تجهیزات بار سرد</a>
                  </li>
                  <li class="me-2 hover:underline border p-3 rounded-full">
                    <a href="#">بویلر آب جویش</a>
                  </li>
                  <li class="me-2 hover:underline border p-3 rounded-full">
                    <a href="#">تجعیزات کافه رستوران</a>
                  </li>
                  <li class="me-2 hover:underline border p-3 rounded-full">
                    <a href="#">شو کیک</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          

      <div class="flex border rounded-lg mt-6 flex-col mx-3 w-full p-6 md:w-1/3 xl:w-1/4">
        <a [routerLink]="['/product']" routerLinkActive="router-link-active" >
            <!-- badge -->
            <div class="bg-[#28221E] text-white py-1 px-4 rounded-full text-sm font-bold shadow-md inline-block">
                25%
              </div>
              
            <!-- end badge -->
            <img
            class="hover:grow hover:shadow-lg mx-auto block"
            src="/images/image 13.png"
          />
          <div class="flex items-center justify-center pt-3">
            <p class="">دانه قهوه باکسی</p>
          </div>
          <p class="pt-1 text-gray-900 line-through blur-[1px]">340 تومان</p>
          <p class="pt-1 text-[#9E624C] text-2xl">240 تومان</p>
        </a>
      </div>

      <div class="flex border rounded-lg mt-6 flex-col mx-3 w-full p-6 md:w-1/3 xl:w-1/4">
        <a [routerLink]="['/product']">
            <!-- badge -->
            <div class="bg-[#28221E] text-white py-1 px-4 rounded-full text-sm font-bold shadow-md inline-block">
                25%
              </div>
              
            <!-- end badge -->
            <img
            class="hover:grow hover:shadow-lg mx-auto block"
            src="/images/image 13.png"
          />
          <div class="flex items-center justify-center pt-3">
            <p class="">دانه قهوه باکسی</p>


          </div>
          <p class="pt-1 text-gray-900 line-through blur-[1px]">340 تومان</p>
          <p class="pt-1 text-[#9E624C] text-2xl">240 تومان</p>
        </a>
      </div>
    

    </div>
    <div class="flex justify-center mt-4"> <!-- Added mt-4 for spacing -->
        <button class="bg-[#9E624C] text-white font-bold p-3 px-7 rounded-full">
            مشاهده بیشتر
        </button>
    </div>


  </section>