<app-header></app-header>

<div class="mb-20 flex flex-col md:flex-row justify-center md:space-x-6 mt-10 sm:mx-10 ">

    <div dir="rtl" class="w-full md:w-1/3 bg-[#FFF8F5] rounded-lg shadow-lg p-6 mt-10">
        <h2 class="text-xl font-semibold text-center mb-6">سفارش شما</h2>
      
        <!-- Purchase Items List -->
        <div class="space-y-4">
          <div class="flex justify-between border-b pb-2">
            <span class="text-gray-700">دانه قهوه باکسی برند Boxilian</span>
            <span class="text-gray-700">1x</span>
            <span class="text-gray-700">240,000 تومان</span>
          </div>
          <div class="flex justify-between border-b pb-2">
            <span class="text-gray-700">دانه قهوه باکسی برند Boxilian</span>
            <span class="text-gray-700">2x</span>
            <span class="text-gray-700">400,000 تومان</span>
          </div>
        </div>
      
        <!-- Total Price -->
        <div class="flex justify-between items-center mt-4">
          <span class="text-lg font-bold text-gray-900">مجموع کل</span>
          <span class="text-2xl font-extrabold" style="color: #9E624C;">640,000 تومان</span>
        </div>
      
        <!-- Payment Info -->
        <div class="mt-6 text-sm text-gray-500">
          <p>پرداخت امن زرین پال</p>
          <p class="mt-2">
            پرداخت امن به وسیله کلیه کارت های عضو شتاب از طریق درگاه زرین پال (چنانچه موقع پرداخت به مشکل خوردید با پشتیبانی سایت در ارتباط باشید).
          </p>
          <p>شماره تماس: <strong>09029393603</strong></p>
        </div>
      
        <!-- Terms and Conditions -->
        <div class="mt-4 flex items-start">
          <input type="checkbox" class=" mt-1 mr-2 h-4 w-4 border-gray-300 rounded" />
          <span class="text-sm text-gray-700 mx-2">
            من قوانین و مقررات <a href="#" style="color: #9E624C;" class="underline">شرایط و مقررات</a> را خواندم و آن را می‌پذیرم.
          </span>
        </div>
      
        <!-- Payment Button -->
        <div class="mt-6">
          <button style="background-color: #9E624C;" class="text-white w-full py-3 rounded-lg shadow-lg">پرداخت</button>
        </div>
    </div>

    <form class="max-w-lg my-10 mx-auto w-full md:w-2/3">
        <!-- Credentials -->
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full my-6 group">
                <input type="text" name="floating_first_name" id="floating_first_name"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                    placeholder=" " required />
                <label for="floating_first_name"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">نام</label>
            </div>
            <div class="relative z-0 w-full my-6 group">
                <input type="text" name="floating_last_name" id="floating_last_name"
                    class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                    placeholder=" " required />
                <label for="floating_last_name"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">نام خانوادگی</label>
            </div>
        </div>
    
        <!-- Province Select -->
        <div class="relative z-0 w-full my-6 group flex items-center">
            <select name="floating_province" id="floating_province"
                class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                required>
                <option class="text-black" value="province1">Province 1</option>
                <option class="text-black" value="province2">Province 2</option>
                <option class="text-black" value="province3">Province 3</option>
            </select>
            <i class="bi bi-arrow-down text-gray-500 ml-2"></i>
            <label for="floating_province"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">استان</label>
        </div>
    
        <!-- City -->
        <div class="relative z-0 w-full my-6 group">
            <input type="text" name="floating_city" id="floating_city"
                class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                placeholder=" " required />
            <label for="floating_city"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">شهر</label>
        </div>
    
        <!-- Address -->
        <div class="relative z-0 w-full my-6 group">
            <input type="text" name="address" id="floating_address"
                class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                placeholder=" " required />
            <label for="floating_address"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">آدرس</label>
        </div>
    
        <!-- Phone -->
        <div class="relative z-0 w-full my-6 group">
            <input type="text" name="phone" id="floating_phone"
                class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                placeholder=" " required />
            <label for="floating_phone"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">تلفن</label>
        </div>
    
        <!-- Comments -->
        <div class="relative z-0 w-full my-6 group">
            <textarea name="comments" id="floating_comments"
                class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#9E624C] peer"
                placeholder=" " required></textarea>
            <label for="floating_comments"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#9E624C] peer-focus:dark:text-[#9E624C] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">توضیحات</label>
        </div>
    
        <div class="block">
            <p>حساب کاربری ندارید؟ <a href="#" class="text-[#9E624C]">اینجا را کلیک کنید</a></p>
        </div>
    </form>
</div>

<app-footer></app-footer>